<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> Hey Dude </h1>
    <p>
      This application just came in from <%= @applicant.coach %>:

      <%= @applicant.school %>
      <%= @applicant.address %>
      <%= @applicant.city %>
      <%= @applicant.state %>
      <%= @applicant.zip_code %>
      <%= @applicant.school_phone %>
      <%= @applicant.coach %>
      <%= @applicant.email %>
      <%= @applicant.best_phone %>
      <%= @applicant.full_team_entry %>
      <%= @applicant.individual_entry %>
      <%= @applicant.number_of_wrestlers %>

    </p>
  </body>
</html>